.modal {
    position: fixed;
    min-width: 700px;
    max-width: 900px;
    z-index: 1040;
    top: 100px;
    left: calc(0.5 * (100vw - 700px));
    background-color: #474B4F;
    border-radius: 10px;
    border: 1px solid #86C232;
    box-shadow: 0 0 15px 5px #86C232;
}

.backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(57, 91, 16, 0.5);
    opacity: 0.5;
}

.modal_header {
    border-bottom: 1px solid #86C232;
    display: flex;
    justify-content: space-between;
}

.modal_title {
    font-weight: 500;
    font-size: 1.25rem;
    color: #86C232;
}

.modal_body,
.modal_header,
.modal_footer {
    color: white;
    padding: 12px;
}

.close_button {
    width: 30px !important;
    height: 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #FF3C31;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}

.modal_footer {
    border-top: 1px solid #86C232;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.success_button {
    color: #fff;
    background-color: #61892F;
}

.danger_button {
    color: #fff;
    background-color: #FF3C31;
}

.modal_example {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}