.container {
    min-width: 700px;
    max-height: 900px;
    width: 95%;
    margin:  20px auto;
    padding: 10px;
    background: #474B4F;
    border-radius: 10px;
    cursor: pointer;
}

.competition_filter_container {
    width: 100%;
    min-height: 60px;
    display: flex;
    border-bottom: 1px solid #474B4F;
    overflow-y: hidden;
    overflow-x: auto;
}


.competition_filter_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.competition_filter_container::-webkit-scrollbar-track {
    background-color: #474B4F;
    -webkit-box-shadow: inset 0 0 3px rgba(160, 165, 168, 0.5);
}

.competition_filter_container::-webkit-scrollbar-thumb {
    background-color: rgba(134, 194, 50, 0.4);
    outline: 1px solid rgba(134, 194, 50, 0.4);
    border-radius: 10px;
}

.competition_button {
    background: #a0a5a8;
    padding: 20px;
    margin: auto 0.5rem;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.competition_button:hover {
    background: rgba(134, 194, 50, 0.7);
}

.active_competition_button {
    background: #86C232;
}

.active_competition_button:hover {
    background: rgba(134, 194, 50, 0.7);
}

.standings_container {
    /*width: 95%;*/
    margin: 20px auto 5px;
}

.standings_container_header {
    background: #6B6E70;
    height: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align_in_row {
    display: flex;
    flex-direction: row;
}

.position_container{
    min-width: 30px;
    width: 5%;
    max-width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-right: 1px solid rgba(134, 194, 50, 0.1);
}

.team_container{
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
}

.team_container:hover{
    text-decoration: underline;
}

.team_logo {
    width: 20px;
    margin: auto 10px;
}

.matches_played_container{
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-left: 1px solid rgba(134, 194, 50, 0.1);
}

.wins_container{
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.draws_container{
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.losses_container{
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.goals_container{
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.basket_goals_container {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.points_container {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form_container {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form_view {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1px;
}

.background_green {
    background: #00a83f;
}

.background_red {
    background: #dc0000;
}

.background_yellow {
    background: #f3a000;
}

.background_gray {
    background: #a0a5a8;
}

.team_standings_container{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(134, 194, 50, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}